html {
  height: 100%;
}

body {
  background: #fff;
  font-family: "Myriad Web", Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  padding: 0;
  height: 100%;
}

div {
  height: 100%;
}

.job-wrap {
  overflow: hidden;
  width: 100%;
}

.job-bar {
  overflow: hidden;
  float: left;
  width: 326px;
  background-color: #5F7D8C;
  padding: 20px;
  padding-left: 35px;
}

.job-content {
  overflow: hidden;
}

.bar-span {
  height: 40px;
  display: block;
  margin-bottom: 15px;
}

.bar-title {
  font-size: 20px;
  font-weight: semibold;
  color: #B0BEC5;
  width: 258px;
  margin-right: 10px;
  display: inline-block;
}

.bar-button {
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: semibold;
  background-color: #5F7D8C;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  outline: none;
}

.bar-button:hover {
  background-color: #6B8D9F;
}

.bar-button:active {
  background-color: #506A77;
}

.job {
  height: 28px;
  margin-left: 24px;
  display: block;
}

.job-checkbox {
  display: inline-block;
}

.job-title {
  color: #B0BEC5;
  display: inline-block;
}

.job-headcount {
  color: #B0BEC5;
  display: inline-block;
}

.dep {
  height: auto;
  padding-bottom: 15px;
}

.dep-span {
  height: 32px;
  display: block;
}

.dep-checkbox {
  display: inline-block;
}

.dep-title {
  font-weight: bold;
  width: 235px!important;
  color: #FFFFFF;
  display: inline-block;
}

.dep-icon {
  font-size: 7pt!important;
  margin-left: 10px;
}

.dep-headcount {
  vertical-align: middle;
  text-align: center!important;
  color: #FFFFFF;
  display: inline-block;
  background-color: #506A77;
  width: 36px!important;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
}

.checkbox {
  margin-right: 10px;
}

.title {
  width: 190px;
  margin-right: 10px;
}

.headcount {
  width: 50px;
  text-align: right;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 12px;
  height: 12px;
  color: #FFF;
  background-color: #5F7D8C;
  border: 1px solid #B0BEC5;
  border-radius: 4px;
  margin: -1px 12px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:not(:checked) + label span:after,
input[type="checkbox"]:checked + label span:after {
  position: absolute;
  content: '✔';
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  transition: all .15s;
}

input[type="checkbox"]:not(:checked) + label span:after {
  opacity: 0;
  transform: scale(0);
}

input[type="checkbox"]:checked + label span:after {
  opacity: 1;
  transform: scale(1);
}

input[type="checkbox"]:not(:checked) + label span:hover:after {
  opacity: 0.5;
  transform: scale(0.8);
}

input[type="checkbox"]:checked + label span:hover:after {
  opacity: 1;
  transform: scale(2);
}
