body {
  background: #fff;
  font-family: "Myriad Web", Verdana, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.job {
  display: block;
}

.job-checkbox {
  display: inline-block;
}

.job-title {
  display: inline-block;
}

.job-headcount {
  display: inline-block;
}

.dep-span {
  display: block;
}

.dep-checkbox {
  display: inline-block;
}

.dep-title {
  display: inline-block;
}

.dep-headcount {
  display: inline-block;
}

.checkbox {
  margin-right: 10px;
}

.title {
  width: 160px;
  margin-right: 10px;
}

.headcount {
  width: 50px;
}
